<template>
    <v-app>
        <TheAppBar />

        <v-main>
            <router-view/>
        </v-main>

        <TheBottomNav />
    </v-app>
</template>

<script>
  import TheAppBar from '@/components/TheAppBar'
  import TheBottomNav from '@/components/TheBottomNav'

  export default {
    name: 'HomeView',

    components: {
      TheAppBar,
      TheBottomNav
    },
  }

</script>
