<template>
  <!-- <HelloWorld /> -->
  <div>
    <TheNavbar />
  </div>
</template>

<script>
  import TheNavbar from '../components/TheNavbar'
  

  export default {
    name: 'HomeView',

    components: {
      TheNavbar
    },
  }
</script>
